<div class="row">
	<div class="col-xs-12">
		<form class="form-inline p-3 row" #fm="ngForm" (ngSubmit)="onSubmit(fm.value)">
		  <div class="col-4">
 		    <input type="text" class="form-control" placeholder="Fund Name or Number" name="search" [(ngModel)]="search">
		  </div>
		  <div class="col-2">
		    <button type="submit" class="btn btn-primary">Search</button>
		  </div>

		</form>
	</div>
</div>

<div class="row">
	<div class="col-xs-12" *ngFor="let item of funds">
		<dl class="row" >
		  <dt class="col-sm-3">Name</dt>
		  <dd class="col-sm-9">{{item.name}}</dd>

		  <dt class="col-sm-3">Schame ID</dt>
		  <dd class="col-sm-9">{{item.scheme_id}}</dd>
		  
		</dl>
	</div>

</div>