<div class="row">

<div class="col-xs-12 col-sm-6 offset-sm-3 col-md-4 offset-md-4 ">

  <div class="card">
    <div class="card-block" *ngIf="!passwordResetSuccess">
      <h4 class="card-title">Reset Password</h4>
      <form role="form" novalidate (ngSubmit)="fm.valid && onSubmit(fm.value)" #fm="ngForm" [formGroup]="form" >
    

        <div class="form-group" [ngClass]="{'has-danger': fm.submitted && !form.controls['email'].valid}">
          <input type="text" class="form-control" placeholder="Email" formControlName="email" >
          <small class="form-control-feedback" *ngIf="fm.submitted && form.controls.email.hasError('required')">Required!</small>
          <small class="form-control-feedback" *ngIf="fm.submitted && form.controls.email.hasError('pattern')">Enter valid email!</small>
        </div>

        <div>
          <a [routerLink]="['/login']" class="float-sm-left">Login</a>
          <button type="submit" class="btn btn-primary float-sm-right">Reset Password</button>
        </div>
        
      </form>
    </div>

    <div class="card-block" *ngIf="passwordResetSuccess">
      <p class="card-text">A mail is sent to your registered email id. Follow the link in mail to reset the password.</p>
    </div>
  </div>
  
</div>



</div>