<div class="row"><div class="col-xs-12 col-sm-6 offset-sm-3 col-md-4 offset-md-4">


  <div class="card">
    <div class="card-block">
      <h4 class="card-title">Login</h4>
      
      <form (ngSubmit)="loginFm.valid && onSubmit(loginFm.value)" #loginFm="ngForm" role="form" novalidate>

        <div class="form-group" [ngClass]="{'has-danger': loginFm.submitted && username.invalid}" >
          <input type="email" class="form-control" name="username" placeholder="Email"  required ngModel #username="ngModel">
          <small class="form-control-feedback" *ngIf="loginFm.submitted && username.invalid">Enter valid email</small>

        </div>

        <div class="form-group" [ngClass]="{'has-danger': loginFm.submitted && password.invalid}">
            <input type="password" name="password" class="form-control" placeholder="Password"  required ngModel #password="ngModel">
            <small class="form-control-feedback" *ngIf="loginFm.submitted && password.invalid">Required</small>
        </div>

        <div class="form-group">
          <div class="float-sm-left">
            Don't have account  <br>
            <a [routerLink]="['/register']">Register</a>
          </div>
          
          <button type="submit" class="btn btn-primary float-sm-right">Login</button>
          <div class="float-sm-right">
            <a [routerLink]="['/forgot-password']">Forgot Password</a>
          </div>
        </div>
      </form>
    
    </div>
  </div>


  
</div>
</div>