<div class="row">
	<div class="col-xs-12 col-sm-6 offset-sm-3 col-md-4 offset-md-4 ">


		<div class="card">
			<div class="card-block">
				<h4 class="card-title">Register</h4>
					<form role="form"  (ngSubmit)="form.valid && onSubmit()" [formGroup]="form" novalidate #rgForm="ngForm">
						<!-- <legend>Form title</legend> -->
		
						<div class="form-group" [ngClass]="{'has-danger': rgForm.submitted && !form.controls['company_name'].valid}">
							<input type="text" class="form-control" placeholder="Company Name" formControlName="company_name" >
							<small class="form-control-feedback" *ngIf="rgForm.submitted && form.controls.company_name.hasError('required')">Required!</small>
							<small class="form-control-feedback" *ngIf="rgForm.submitted && form.controls.company_name.hasError('maxlength')">Maximum {{form.controls.company_name.errors.maxlength.requiredLength}} characters</small>
						</div>
					
						<div class="row" >
							<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" [ngClass]="{'has-danger': rgForm.submitted && !form.controls['first_name'].valid}">
								<div class="form-group">
									<input type="text" class="form-control" placeholder="First Name" formControlName="first_name" >
									<small class="form-control-feedback" *ngIf="rgForm.submitted && form.controls.first_name.hasError('required')">Required!</small>
									<small class="form-control-feedback" *ngIf="rgForm.submitted && form.controls.first_name.hasError('maxlength')">Maximum {{form.controls.first_name.errors.maxlength.requiredLength}} characters</small>
								</div>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" [ngClass]="{'has-danger': rgForm.submitted && !form.controls['last_name'].valid}">
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Last Name" formControlName="last_name" >
									<small class="form-control-feedback" *ngIf="rgForm.submitted && form.controls.last_name.hasError('required')">Required!</small>
									<small class="form-control-feedback" *ngIf="rgForm.submitted && form.controls.last_name.hasError('maxlength')">Maximum {{form.controls.last_name.errors.maxlength.requiredLength}} characters</small>
								</div>
							</div>
						</div>

						<div class="form-group" [ngClass]="{'has-danger': rgForm.submitted && !form.controls['email'].valid}">
							<input type="text" class="form-control" placeholder="Email" formControlName="email" >
							<small class="form-control-feedback" *ngIf="rgForm.submitted && form.controls.email.hasError('required')">Required!</small>
							<small class="form-control-feedback" *ngIf="rgForm.submitted && form.controls.email.hasError('pattern')">Enter valid email!</small>
						</div>

						<div class="form-group" [ngClass]="{'has-danger': rgForm.submitted && !form.controls['password'].valid}">
							<input type="password" class="form-control" placeholder="Password" formControlName="password" >
							<small class="form-control-feedback" *ngIf="rgForm.submitted && form.controls.password.hasError('required')">Required!</small>
						</div>

						<div class="form-group" [ngClass]="{'has-danger': rgForm.submitted && (!form.controls['confirm_password'].valid || form.hasError('nomatch') )}">
							<input type="password" class="form-control" placeholder="Confirm Password" formControlName="confirm_password" >
							<small class="form-control-feedback" *ngIf="rgForm.submitted && form.controls.confirm_password.hasError('required')">Required!</small>
							<small class="form-control-feedback" *ngIf="rgForm.submitted && form.hasError('nomatch')">Confirm Password should match Password</small>
						</div>

						<div class='row'>
							<div class="col-sm-12">
								<div class="float-sm-left">
						        Already have an account?<br>
						        <a [routerLink]="['/login']">Login</a>
						      </div>
						      <button type="submit" class="btn btn-primary float-sm-right" >Register</button>

							</div>
						</div>

					</form>
			</div>
		</div>

	</div>
	
</div>