<h1>Mutual Funds Tracker</h1>
<hr>

		<div class="card">
			<div class="card-block">
				
				<ul class="nav nav-tabs">
				  <li class="nav-item">
				    <a class="nav-link" [routerLink]="['/mf-tracker']" routerLinkActive="active">My Funds</a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link" [routerLink]="['/mf-tracker', 'add-fund']" routerLinkActive="active">Add Fund</a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link" href="#">Graphs</a>
				  </li>
				</ul>
			
				<router-outlet></router-outlet>

			</div>
		</div>